
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time Table</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css">
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
</head>

<body>
    <div class="py-5">
        <div class="container text-center">
            <div class="p-3 date_picker">
                <input type="text" class="form-control mr-sm-2 col-4" id="datePicker" placeholder="Select Week">
            </div>
            <div id="message" style="color: red;"></div>
            <div class="table-responsive" id="tome_sheet_table">
                <table class="table time_tablecalc" >
                    <thead>
                        <tr>
                            <th class="text-start">DAY OF WEEK</th>
                            <th>TIME IN</th>
                            <th>BREAK START</th>
                            <th>BREAK END</th>
                            <th>TIME OUT</th>
                            <th>TIME OFF</th>
                            <th>Comment</th>
                            <th>TOTAL</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="timetable_body" id="tBody">
                        
                    </tbody>
                    <tfoot class="timetable_footer">
                        <tr>
                            <td> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total hours: </strong> </td>
                            <td>
                                <p class="text-end mb-0 highlight_total" ><span id="totalHours"> 0.0</span></p>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row bottom">
                <div class="col">
                    <button type="button" id="submit" class="btn btn-outline-primary" onclick="window.print();">PDF</button>
                    <button type="button" id="submit" class="btn btn-outline-primary" id='csv_download' onclick="javascript:tableToCSV();">CSV</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>
<script src="{% static 'js/main.js' %}"></script>

</html>

